body {
    background: #0a0d17;
    color: #d0d6e0;
    font-family: monospace;
    font-size: 16px;
    margin: 0;
}

/* || LOGIN AND REGISTER */
/* center page and content, set max width */
.page-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* page header */
.site-title {
    text-align: center;
    color: #cedaf2;
    font-size: 2.8rem;
    margin-bottom: 35px;
    font-weight: 700;
    letter-spacing: 3px;
}


.auth-container {
    background: #1a2233;
    padding: 20px;
    border-radius: 10px;
    width: 460px;
    justify-content: center;
    text-align: center;
    border: 1px solid #2d3750;
}

/* titles for sections */
h2 {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 2.1rem;
    color: #d0d6e0;
}


/* switch text below auth box */
.auth-switch-text {
    text-align: center;
    margin-top: 12px;
    font-size: 0.9rem;
}

/* auth input */
input[type="text"],
input[type="password"] {
    font-size: 1.1rem;
    width: 90%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #39445a;
    background: #0f1420;
    color: #d4d9e5;
}

button {
    width: 95%;
    padding: 10px;
    margin-top: 25px;
    border-radius: 6px;
    background: #3f4c6b;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background: #566282;
}

a {
    color: #8aa4ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.error {
    color: #ff6b6b;
    margin-top: 10px;
}



/* || DASHBOARD */
.dashboard-wrapper {
    width: 90%;
    max-width: 900px;
    margin: 40px auto 40px auto;
    padding: 0 10px;
    box-sizing: border-box;
}

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logout-link {
    color: #8aa4ff;
    font-size: 1rem;
}

.logout-link:hover {
    text-decoration: underline;
}

/* || ADMIN ONLY PANEL */
.admin-panel {
    background: #1a2233;
    padding: 20px;
    padding-top: 0px;
    border-radius: 10px;
    border: 1px solid #2d3750;
    width: 100%;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.admin-panel h3 {
    margin-bottom: 15px;
}

.admin-panel form input,
.admin-panel form select {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 6px;
    border: 1px solid #39445a;
    background: #0f1420;
    color: #d4d9e5;
}

.admin-panel form input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    border-radius: 6px;
    border: 1px solid #39445a;
    background: #0f1420;
    color: #d4d9e5;
    box-sizing: border-box;
}

.admin-panel button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.section-title {
    margin: 25px 0 10px 0;
    font-size: 1.8rem;
}



/* || MATCH LIST FOR DASHBOARD AND USER */
.match-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Each Match Card */
.match-card {
    background: #1a2233;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #2d3750;
    width: 100%;
    box-sizing: border-box; /* prevents overflow */
}

/* Match Card Header */
.match-card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.match-username {
    color: #8aa4ff;
    font-size: 1.1rem;
}

.match-username:hover {
    text-decoration: underline;
}

.match-date {
    font-size: 0.85rem;
    opacity: 0.7;
}

.match-stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    word-break: break-word;
}



/* || USER SCREEN */
.back-link {
    color: #8aa4ff;
    text-decoration: none;
    margin-bottom: 20px;
}

.back-link:hover {
    text-decoration: underline;
}

.user-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
}

/* contains overview section */
.overview-container {
    background: #1a2233;
    padding: 20px;
    padding-top: 0px;
    border-radius: 10px;
    border: 1px solid #2d3750;
}

/* grid of stat spread */
.overview-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* individual stat cards */
.stat-card {
    background: #111827;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #2d3750;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.stat-card span {
    font-size: 1.3rem;
    font-weight: 700;
}